In [22]:
# Dependencies
import pandas as pd

In [23]:
# The path to the CSV file
file = "clean_hawaii_measurements.csv"

# Read data into pandas
df1 = pd.read_csv(file)
df1.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [24]:
del df1['Unnamed: 0']
df1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [25]:
# The path to the CSV file
file = "clean_hawaii_stations.csv"

# Read data into pandas
df2 = pd.read_csv(file)
df2.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [26]:
del df2['Unnamed: 0']
df2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [27]:
# Import SQL Alchemy
from sqlalchemy import create_engine, func

# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [28]:
# Create the Garbage class
class HawaiiMeasurements(Base):
    __tablename__ = 'hawaii_measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    #date = Column(Date())
    prcp = Column(Integer(5))
    tobs = Column(Integer(5))

NameError: name 'Date' is not defined

In [29]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii.sqlite)
conn = engine.connect()

# Create the garbage_collection table within the database
Base.metadata.create_all(conn)

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

SyntaxError: EOL while scanning string literal (<ipython-input-29-231ce1f945fd>, line 2)